/********** Transaction **********/

.move-money {
  p{
    margin: 8px 0 2px 0;
  }
  form {
    margin: 0 0 6px 0;
    input {
      margin: 0 0 14px 0;
      font-size: 1.1em;
      padding: 4px 8px;
      border: 1px solid rgb(44, 44, 44);
      &:focus {
        background-color: rgb(236, 251, 255);
      }
    }
    button {
      cursor: pointer;
      border: none;
      color: rgb(248, 246, 242);
      background-color: rgb(42, 94, 109);
      min-width: 100px;
      min-height: 30px;
      font-size: 1em;
      display: block;
      margin: 0 auto;
      &:hover{
        background-color: rgb(36, 81, 94);
      }
    }
  }
}
